{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webcam Stream</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="index">
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="logo">
        </div>
        <div class="webcam">
            <a href="{% url 'login' %}">웹캠 실행하기</a>
        </div>
        <div class="info">
            <p style="color: #7A29FF;">웹캠 분석의 정확도가 떨어질 수 있습니다.</p>
            <p style="color: #7A29FF;">웹캠 분석 시 폭력이라고 판단되는 프레임이 연속 5번 이상이라면 해당 프레임을 저장합니다. </p>
            <p style="color: #7A29FF;">이는 폭신 사이트 증거 업로드에서 확인하실 수 있습니다.</p>
            <p style="color: #7A29FF;">화면을 녹화하여 폭신 사이트의 동영상 업로드를 추천드립니다.</p>
        </div>
    </div>
</body>
</html>
